{% extends 'base.html' %}

{% block content %}
{% if me %}
  <a href="{% url 'doctopyt:me_specialites' %}" >Retour</a>
  <h1>
    Gestion des billets pour la specialitée '{{specialite.name}}'
  </h1>
  <button onclick="showForm()">Ajouter +</button>
  <br><br>
  <div id="form-ticket" style="display: none;">
    <form method="post" style="display: flex; flex-direction: column; width: 25%;">
      <h2>Fomulaire du billet:</h2>
      {% csrf_token %}
      {{ form }}
      <input class="btn btn-success" type="submit" value="Enregistrer" style="background-color: #2E86C1; color: white; margin-top: .5rem">
    </form>
  </div>
{% else %}
  <a href="{% url 'doctopyt:view_praticien' praticien_pk=praticien.user_id %}" >Retour</a>
{% endif %}

{% if me %}
  <h3>Liste de vos billets</h3>
{% else %}
  <h1>Liste des billets du praticien '{{praticien.name}}' spécialité '{{specialite.name}}'</h1>
{% endif %}

{% if billets|length > 0 %}
  <ul>
    {% for billet in billets %}
      <li>
        {% if me %}
          <span>{{billet.name}}</span>
          <a class="btn btn-primary my-2" href="{% url 'doctopyt:me_billet' specialite_pk=specialite.id billet_pk=billet.id %}">Voir/Modifier</a>
          <form action="{% url 'doctopyt:me_billet' specialite_pk=specialite.id billet_pk=billet.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete" />
            <input class="btn btn-danger" type="submit" value="Supprimer">
          </form>
        {% else %}
          <a class="btn btn-prumary" href="{% url 'doctopyt:view_praticien_billet' praticien_pk=praticien.user_id specialite_pk=specialite.id billet_pk=billet.id  %}" >{{billet.name}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <span>Aucun billet</span>
{% endif %}

{% if me %}
<script>
  function showForm() {
    var formTicket = document.getElementById("form-ticket");
    if (formTicket.style.display === "none") {
      formTicket.style.display = "block";
    } else {
      formTicket.style.display = "none";
    }
  }
</script>
{% endif %}

{% endblock %}