{% extends 'base.html' %}

{% block content %}
{% if me %}
    <a href="{% url 'doctopyt:me_billets' specialite_pk=billet.praticien_specialite.specialite_id %}" >Retour</a>
    <h1 class="text-center my-5">Visionner/Editer le billet '{{billet.name}}'</h1>
{% else %}
    <a href="{% url 'doctopyt:view_praticien_billets' praticien_pk=praticien.user_id specialite_pk=praticien_specialite.specialite_id %}" >Retour</a>
    <h1 class="text-center my-5">Billet du praticien '{{praticien.name}}' spécialité '{{praticien_specialite.specialite.name}}'</h1>
{% endif %}

<div id="show">
    <div>
        <label>Nom :</label>
        <b>{{billet.name}}</b>
    </div>
    <div>
        <label>Présentation :</label>
        <p>{{billet.presentation}}</p>
    </div>
</div>
{% if me %}
<form id="form" style="display: none" method="post">
    <input type="hidden" name="_method" value="put" />
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Valider" />
</form>

<input id="show_or_edit_button" type="button" value="Modifier"/>
<br/><br/>
<form action="{% url 'doctopyt:me_billet' specialite_pk=billet.praticien_specialite.specialite_id billet_pk=billet.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Supprimer">
</form>


<script>
    let editing = false;
    document.getElementById("show_or_edit_button").addEventListener("click", function() {
        editing = !editing;
        this.value = editing ? "Visionner" : "Modifier"
        document.getElementById("show").style.display = editing ? "none" : "block";
        document.getElementById("form").style.display = editing ? "block" : "none";
    })
</script>
{% endif %}
{% endblock content %}