{% extends '../base.html' %}
{% block content %}
<h1 class="text-center my-5">Créer un créneau</h1>
    <form action="/creneau/create/" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <div class="submit text-center">
            <input class="btn btn-success" type="submit" name="Créer">
        </div>
    </form>
{% endblock %}
