{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Votre compte</h1>
    <span>Vous êtes un
        {% if praticien %}
            praticien
        {% else %}
            patient
        {% endif %}
    </span>
    <div>
        <span>Votre username :</span>
        <span>
            {% if user.username %}
                {{ user.username }}
            {% else %}
                Non défini
            {% endif %}
        </span>
    </div>
    {% if praticien %}
        <a class="btn btn-primary" target="_blank" href="{% url 'doctopyt:me_specialites' %}">Voir vos billets par spécialités</a>
        <a class="btn btn-primary" target="_blank" href="{% url 'doctopyt:createCreneau' %}">Créer des créneaux</a>
    {% endif %}
    {% if form %}
        <h2 class="text-center">Editer vos données</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Votre nom de praticien</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.presentation.id_for_label }}">Votre présentation</label>
                {{ form.presentation }}
            </div>
            <div class="form-group">
                <label for="{{ form.zoneGeographique.id_for_label }}">Zone géographique</label>
                {{ form.zoneGeographique }}
            </div>
            <div class="form-group">
                <label for="{{ form.specialities.id_for_label }}">Spécialités</label>
                {{ form.specialities }}
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Valider">
            </div>
        </form>
    {% endif %}
{% endblock content %}
