{% extends 'base.html' %}

{% block content %}
<h1 class="text-center my-5">Vos spécialités</h1>
<ul>
  {% for praticien_specialite in praticien_specialites %}
    <li>
      <a class="btn btn-primary" href="{% url 'doctopyt:me_billets' specialite_pk=praticien_specialite.specialite_id %}" target="_blank">{{praticien_specialite.specialite}}</a>
      ({{praticien_specialite.billets.all|length}} billets)
    </li>
  {% endfor %}
</ul>
{% endblock %}