{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Recherche de praticiens</h1>
    <div>
        <h2>Filtres</h2>
        <form>
            <div class="form-group">
                <label>Par nom de patricien :</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label>Par zone géographique</label>
                {{ form.zoneGeographique }}
            </div>
            <div class="form-group">
                <label>Par spécialités</label>
                {{ form.specialities }}
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Filtrer"/>
            </div>
        </form>
    </div>
    <ul>
        {% for praticien in praticiens %}
            <li>
                <a href="{% url 'doctopyt:view_praticien' praticien_pk=praticien.user_id %}">{{ praticien.name }}</a>
                <div>
                    Spécialités :
                    {% for speciality in praticien.specialities.all %}
                        <div style="display: inline-block">{{ speciality.name }}</div>
                    {% endfor %}
                    {% if praticien.specialities.all|length == 0 %}Aucune{% endif %}
                </div>
                <div>
                    Zone :
                    {% if praticien.zoneGeographique %}
                        {{ praticien.zoneGeographique.name }}
                    {% else %}
                        Aucune
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
