{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">{{ praticien.name }}</h1>
    <div>
        Présentation :
        {% if praticien.presentation %}
            <p>
                {{ praticien.presentation }}
            </p>
        {% else %}
            Aucune
        {% endif %}
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'doctopyt:visualizeCreneau' praticien.pk %}">Prendre rendez-vous</a>
    </div>
    <div>
        Spécialités :
        {% if praticien.praticien_specialite.all|length > 0 %}
            <ul>
                {% for praticien_specialite in praticien.praticien_specialite.all %}
                    <li>
                        {{ praticien_specialite.specialite.name }}
                        <a href="{% url 'doctopyt:view_praticien_billets' praticien_pk=praticien.user_id specialite_pk=praticien_specialite.specialite_id %}">
                            Voir les billets ({{ praticien_specialite.billets.all|length }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Aucune
        {% endif %}
    </div>
    <div>
        Zone géograpique :
        {% if praticien.zoneGeographique %}
            <a target="_blank"
               href="{% url 'doctopyt:praticiens' %}?zoneGeographique={{ praticien.zoneGeographique.id }}">
                {{ praticien.zoneGeographique.name }}
            </a>
        {% else %}
            Aucune
        {% endif %}
    </div>
    <div>
        Billets :
        {% if praticien.billets.all|length > 0 %}
            <ul>
                {% for billet in praticien.billets.all %}
                    <li>
                        <h2>{{ billet.name }}</h2>
                        <p>
                            {{ billet.presentation }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Aucun
        {% endif %}
    </div>
</br>
<div>
    Envoyer un message au praticien :
</br>
<div class="mb-3">
    <label for="room-name-input" class="form-label">Identifiant du praticien :</label>
    <input type="hidden"
           id="room-name-input"
           class="form-control"
           value="{{ praticien.user_id }}"
           disabled>
    {{ praticien.user_id }}
</input>
</br>
<input id="room-name-submit" type="button" value="Entrer">
</div>
</div>
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}
