{% extends '../base.html' %}

{% block content %}
    <h1 class="text-center my-5">Mes rendez-vous</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Heure début</th>
          <th scope="col">Heure Fin</th>
          <th scope="col">Praticien</th>
        </tr>
      </thead>
      <tbody>
        {% for rdv in rdvs %}
        <tr>
          <td>{{rdv.creneau.datetime_debut}}</td>
          <td>{{rdv.creneau.datetime_fin}}</td>
          <td>{{rdv.praticien.user}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
