{% extends '../base.html' %}
{% block content %}
<h1 class="text-center my-5">Créneaux</h1>
    {% if user.praticien and user.praticien.pk == praticien_id %}
      <a class="btn btn-primary btn-sm" href="/creneau/create/">Créer un creneau</a>
    {% endif %}
    {% for creneau in creneaux %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Heure début</th>
          <th scope="col">Heure Fin</th>
          <th scope="col">Praticien</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{creneau.datetime_debut}}</td>
          <td>{{creneau.datetime_fin}}</td>
          <td>{{creneau.praticien.user}}</td>
          <td><a class="btn btn-primary btn-sm" href="/rdv/{{creneau.pk}}/reservation/">Prendre</a></td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
{% endblock %}
