{% extends '../base.html' %}

{% block content %}
<h1 class="text-center my-5">Se connecter</h1>

<form action='' method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Identifiant</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="text-center">
        <input class="btn btn-success" type='submit' value="Se connecter"/>
    </div>
</form>
{% endblock %}