{% extends '../base.html' %}

{% block content %}
<h1 class="text-center my-5">S'inscrire</h1>

<form action='{% url 'doctopyt:register' %}' method='POST'>
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <div class="text-center my-3">
    <input class="btn btn-success" type='submit' value="S'inscrire"/>
    </div>
</form>

{% endblock %}